@model IEnumerable<BigSchool.Models.Course>

@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mine</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            UserName
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datetime)
        </th>
        <th>
            Category Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LectureName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datetime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td class="action">
                <a href="@Url.Action("EditMine","Courses", new { id = item.Id })">Edit</a>
                <a href="@Url.Action("DeleteMine","Courses", new { id = item.Id })">Delete</a>
            </td>
        </tr>
    }

</table>

@*<div class="row">
        <ul class="course">
            @foreach (var course in Model)
            {
                <li>
                    <div class="date">
                        <div class="month">
                            @course.Datetime.ToString("MM")
                        </div>
                        <div class="day">
                            @course.Datetime.ToString("dd")
                        </div>
                    </div>
                    <div class="details">
                        <span class="lecture">
                            @course.LectureName
                        </span>
                        <span class="category">
                            @course.Category.Name
                        </span>
                    </div>
                    <div class="action">
                        <a href= "" >Edit</a>
                        <a href= "" >Delete</a>
                    </div>
                </li>
            }
        </ul>
    </div>*@
